ALTER TABLE confirmed_bookings ADD COLUMN IF NOT EXISTS calendar_event_id VARCHAR(255); ALTER TABLE confirmed_bookings ADD COLUMN IF NOT EXISTS selected_slots JSONB; ALTER TABLE confirmed_bookings ADD COLUMN IF NOT EXISTS total_minutes INTEGER DEFAULT 60;
